.title {
  font-size: 14px;
  font-weight: bold;
  /* padding: 8px; */
}

.row {
  display: flex;
  flex-direction: row;
}

.api-key-input {
  margin-top: 5px;
  padding: 3px;
  margin-bottom: 5px;
}

.notes {
  margin-top: 5px;
  padding: 3px;
  height: 100px;
}

.submit {
  margin-top: 5px;
}

.api-form {
  display: "none";
}

.notes-form {
  display: "none";
}
